<div class="row mt-4 mb-4">
  <div class="col-md-4">
    <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Type a car type">
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" [(ngModel)]="searchQuery2" placeholder="Type a license number">
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="search()">Search</button>
  </div>
</div>

<div class="row">
  <div>
    <h4 class="text-primary mb-4">Cars</h4>
      <div class="row">
        <div class="mb-4" *ngFor="let car of cars">
          <app-car [car]="car"></app-car>
        </div>
      </div>
</div>

